<div class="language-switcher flex items-center space-x-2">
  <% I18n.available_locales.each do |locale| %>
    <% if locale == I18n.locale %>
      <span class="current-locale px-2 py-1 bg-white bg-opacity-20 rounded text-sm font-medium text-white"><%= t("header.language.#{locale.to_s.downcase}") %></span>
    <% else %>
      <%= link_to t("header.language.#{locale.to_s.downcase}"), { locale: locale }, class: "locale-link px-2 py-1 text-sm text-white hover:text-gray-200 rounded" %>
    <% end %>
  <% end %>
</div>